*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    @media only screen and (max-width : 667px) {
        display: flex;
        flex-direction: column;
    }

    /* landscape orientation */
    @media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
        display: flex;
        flex-direction: column;
    }

    /* portrait orientation */
    @media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
        display: flex;
        flex-direction: column;
    }
}